   
   {% extends 'company/companyindex.html' %}
   {% block content %}
   {% load static %}
   <style>
        .container {
            margin-top: 40px;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-outline {
            margin-bottom: 20px;
        }

        label {
            color: #555;
        }

        input[type="text"],
        input[type="file"],
        textarea {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        textarea {
            resize: vertical;
        }

        input[type="submit"] {
            background-color: #4caf50;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <form method="post" action="{% url 'edit_car' id=data.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-outline">
                        <label class="form-label" for="carName">Car Name</label>
                        <input type="text" name="name" class="form-control" id="carName" value="{{ data.name }}">
                    </div>

                    <div class="form-outline">
                        <label class="form-label" for="carModel">Car Model</label>
                        <input type="text" name="car_model" class="form-control" id="carModel" value="{{ data.car_model }}">
                    </div>

                    <div class="form-outline">
                        <label class="form-label" for="carPrice">Price</label>
                        <input type="text" name="price" class="form-control" id="carPrice" value="{{ data.price }}">
                    </div>

                    <div class="form-outline">
                        <label class="form-label" for="carImage">Photo</label>
                        <input class="form-control" type="file" name="image" id="carImage" value="{{ data.url.image }}">
                    </div>
                    

                    <div class="form-outline">
                        <label class="form-label" for="carDetails">Details</label>
                        <textarea class="form-control" name="details" id="carDetails"  rows="6" value="{{ data.details }}"></textarea>
                    </div>

                    <input type="submit" class="btn btn-success" value="Submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}













